{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Fingerprint Data from Database</h1>
<div class="row mt-4">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Extracted Features</th>
                    <th>Changes After 5 Years</th>
                    <th>5 Years Image</th>
                    <th>Changes After 10 Years</th>
                    <th>10 Years Image</th>
                </tr>
            </thead>
            <tbody>
                {% for change in changes_with_images %}
                <tr>
                    <td>
                        <img src="{{ change.feature.image_path }}" alt="{{ change.feature.image_name }}" class="img-fluid" style="max-width: 100px; height: auto;">
                        <br><strong>{{ change.feature.image_name }}</strong>
                    </td>
                    <td>
                        Minutiae: {{ change.feature.minutiae }}<br>
                        Ridge Endings: {{ change.feature.ridge_endings }}<br>
                        Ridge Bifurcations: {{ change.feature.ridge_bifurcations }}
                    </td>
                    <td>
                        Minutiae Change: {{ change.change_5.minutiae }}<br>
                        Ridge Endings Change: {{ change.change_5.ridge_endings }}<br>
                        Ridge Bifurcations Change: {{ change.change_5.ridge_bifurcations }}
                    </td>
                    <td>
                        <img src="{{ change.changed_image_5_path }}" alt="5 Years Projection" class="img-fluid" style="max-width: 100px; height: auto;">
                    </td>
                    <td>
                        Minutiae Change: {{ change.change_10.minutiae }}<br>
                        Ridge Endings Change: {{ change.change_10.ridge_endings }}<br>
                        Ridge Bifurcations Change: {{ change.change_10.ridge_bifurcations }}
                    </td>
                    <td>
                        <img src="{{ change.changed_image_10_path }}" alt="10 Years Projection" class="img-fluid" style="max-width: 100px; height: auto;">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                {% for page in range(1, total_pages + 1) %}
                <li class="page-item {% if page == current_page %}active{% endif %}">
                    <a class="page-link" href="?page={{ page }}">
                        {{ page }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
